.n-wrapper {
  height: 56px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 16px;
  align-items: center;
}

.n-name {
  font-size: 20.8px;
  font-weight: bold;
}

.n-left {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 16px;
}

.spy-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

.n-right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.n-contact {
  border-radius: 34px;
  color: white;
  font-size: 16px;
  box-shadow: 0px 10px 24px 3px rgba(251, 161, 40, 0.42);
}

.button-contact {
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 6px 15px;
  background: linear-gradient(180deg, #fdc50f 26.71%, #fb98f2 99.36%);
  box-shadow: 0px 0px 24px 3px rgba(251, 161, 40, 0.42);
}

@media screen and (min-width: 768px) {
  .n-wrapper {
    height: 10vh;
    display: flex;
    column-gap: 20px;
  }

  .n-name {
    font-size: 22px;
  }

  .n-left {
    flex: 0;
  }

  .menu-tablet {
    flex: 1;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .menu-item {
    font-size: 20px;
  }

  .button-contact {
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) {
  .n-wrapper {
    column-gap: 28px;
  }

  .n-name {
    font-size: 24px;
  }

  .menu-item {
    font-size: 22px;
  }

  .button-contact {
    font-size: 22px;
  }
}