.intro {
  display: flex;
  height: 77vh;
  flex-direction: column;
  padding: 0 16px;
  margin-bottom: 16px;
}

.i-description {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  margin-bottom: 16px;
  justify-content: space-between;
  max-height: 300px;

}

.i-name {
  display: flex;
  flex-direction: column;
}

.i-name> :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 32px;
}

.i-name> :nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 32px;
}

.i-name> :nth-child(3) {
  color: var(--gray);
  font-weight: 100;
  font-size: 16px;
  margin-top: 10px;
}

.i-button {
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 6px 12px;
  background: linear-gradient(180deg, #fdc50f 26.71%, #fb98f2 99.36%);
  box-shadow: 0px 0px 24px 3px rgba(251, 161, 40, 0.42);
  width: 6rem;
  text-align: center;
}

.i-social-icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* height: 50px; */
}

.i-social-icons>* {
  transform: scale(0.4);
}

.i-images {
  position: relative;
  max-height: 310px;
  margin-bottom: 16px;
  overflow: hidden;
}

.blob-blue {
  width: 120%;
  transform: rotate(120deg);
  position: absolute;
  top: -10%;
  left: -10%;
}

.blob-yellow {
  width: 150%;
  transform: rotate(145deg);
  position: absolute;
  top: -17%;
  right: -28%;
}

.i-boy {
  transform: scale(0.8);
  position: relative;
  left: 10%;
  top: -15%;
}

.i-emoji-glass {
  border-radius: 50%;
  padding: 0;
  width: 50px;
  max-height: 50px;
  color: black;
  /* z-index: 10; */
  position: absolute;
  top: 10%;
  left: -5%;
}

.i-emoji-glass img {
  height: 80px;
}

@media screen and (min-width: 768px) {}