.footer {
  display: flex;
  align-items: center;
  margin: -0.5rem -3.5rem;
  position: relative;
  margin-top: -7rem;
}
.f-content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  /* !fixme debe ser 6rem y dejarlo en 4rem en media screen */
  margin-top: 4rem;
  gap: 4rem;
  color: white;
}

.f-icons {
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 480px) {
  .f-content {
    transform: scale(0.7);
    gap: 2rem;
  }
  .f-icons {
    margin-bottom: 1rem;
  }
}
